@for (area of areas; track area) {
  <div [id]="'area-' + area.title">
    <p>{{area.title}}</p>
    <ul>
      @for (issue of area.possibleIssues; track issue) {
        <li class="checkbox-item">
          <label [for]="'checkbox-' + issue.name">
            <input type="checkbox" [(ngModel)]="issue.checked" (change)="onCheckboxChange($event)" [id]="'checkbox-' + issue.name" [name]="'checkbox-' + issue.name">
            <span class="input-label">{{issue.name}}</span>
          </label>
        </li>
      }
    </ul>
  </div>
}